Repository Dwolla/async-utils: changes, and which Mergify rules are due for each by the changed paths.
All: Label finagle-natchez PRs, Label scalafix PRs, Label twitter-finagle PRs, Label twitter-futures PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=dwolla-oss-scala-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13, temurin@8)
  - status-success=Validate Steward Config (ubuntu-latest)
  actions:
    merge: {}
- name: Label finagle-natchez PRs
  conditions:
  - files~=^finagle-natchez/
  actions:
    label:
      add:
      - finagle-natchez
      remove: []
- name: Label scalafix PRs
  conditions:
  - files~=^scalafix/
  actions:
    label:
      add:
      - scalafix
      remove: []
- name: Label twitter-finagle PRs
  conditions:
  - files~=^twitter-finagle/
  actions:
    label:
      add:
      - twitter-finagle
      remove: []
- name: Label twitter-futures PRs
  conditions:
  - files~=^twitter-futures/
  actions:
    label:
      add:
      - twitter-futures
      remove: []

update sbt-typelevel to 0.5.0-RC2
  .github/workflows/ci.yml
  build.sbt
  project/plugins.sbt
Due: none

bump memory given to sbt
  .sbtopts
Due: none

sync tlFatalWarnings with githubIsWorkflowBuild value so we get fatal warnings in CI
  build.sbt
Due: none

correct scalafix warnings
  scalafix/rules/src/main/scala/com/dwolla/scrooge/scalafix/AddCatsTaglessInstances.scala
  scalafix/rules/src/test/scala/com/dwolla/scrooge/scalafix/AddCatsTaglessInstancesTest.scala
Due: Label scalafix PRs

add WarnNonUnitStatements plugin to add -Wnonunit-statement option to Scala 2.13 builds
  project/AsyncUtilsBuildPlugin.scala
Due: none

correct remaining warnings
  finagle-natchez/src/main/scala/com/dwolla/util/async/finagle/TracedThriftClient.scala
  finagle-natchez/src/main/scala/com/dwolla/util/async/finagle/ZipkinTracer.scala
  twitter-finagle/src/main/scala/com/dwolla/util/async/finagle/ThriftClient.scala
Due: Label finagle-natchez PRs, Label twitter-finagle PRs

set githubWorkflowScalaVersions to a fake value since sbt-projectmatrix controls the version on a per-project basis
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  project/AsyncUtilsBuildPlugin.scala
Due: none

consolidate build settings in build plugin so there's no confusing over where they're set
  build.sbt
  project/AsyncUtilsBuildPlugin.scala
Due: none

Run githubWorkflowGenerate
  .github/workflows/ci.yml
Due: none

update mergifyStewardConfig now that the case classes have been removed from sbt-typelevel
  project/AsyncUtilsBuildPlugin.scala
Due: none

correctly resolve JS platform dependencies
  project/AsyncUtilsBuildPlugin.scala
Due: none

add LoggingWeaveMaterializer to semiautomatically instrument a tagless algebra with input/output logging
  .github/workflows/ci.yml
  README.md
  log4cats/src/main/scala/com/dwolla/util/tagless/logging/LoggingWeaveMaterializer.scala
  log4cats/src/main/scala/com/dwolla/util/tagless/logging/package.scala
  log4cats/src/test/scala/com/dwolla/util/tagless/logging/LoggingWeaveMaterializerSpec.scala
  project/AsyncUtilsBuildPlugin.scala
Due: none

tweak scalafix output expectations because the string output of a patch has slightly changed
  scalafix/rules/src/test/scala/com/dwolla/scrooge/scalafix/AddCatsTaglessInstancesTest.scala
Due: Label scalafix PRs

add example of how to use log4cats module
  log4cats/src/test/resources/logback-test.xml
  log4cats/src/test/scalajvm/com/dwolla/util/tagless/logging/Example.scala
  project/AsyncUtilsBuildPlugin.scala
Due: none

reintroduce MiMa checks on latest version artifacts
  project/AsyncUtilsBuildPlugin.scala
Due: none

Downgrade Scala 2.13 to 2.13.13 because that patch version is required by scalafix-testkit 0.12.0
  project/AsyncUtilsBuildPlugin.scala
Due: none

Downgrade sbt-scalafix to work around an issue
  project/plugins.sbt
Due: none

Downgrade sbt to 1.9.9 because some dependencies other than Scalafix were compiled with Scala 2.13.14, so we can't bring in the backward-compatibility checks in sbt 1.10 yet
  project/build.properties
Due: none

Revert "tweak scalafix output expectations because the string output of a patch has slightly changed"
  scalafix/rules/src/test/scala/com/dwolla/scrooge/scalafix/AddCatsTaglessInstancesTest.scala
Due: Label scalafix PRs

Update sbt-scalafix to 0.12.1 and revert PR#193
  README.md
  project/AsyncUtilsBuildPlugin.scala
  project/plugins.sbt
  scalafix/rules/src/test/scala/com/dwolla/scrooge/scalafix/AddCatsTaglessInstancesTest.scala
Due: Label scalafix PRs

Adds StatsReceiver to ThriftClientConfiguration
  twitter-finagle/src/main/scala/com/dwolla/util/async/finagle/ThriftClient.scala
  twitter-finagle/src/main/scala/com/dwolla/util/async/finagle/ThriftClientConfiguration.scala
Due: Label twitter-finagle PRs

address deprecation warnings introduced when updating to sbt-typelevel 0.7.3
  project/AsyncUtilsBuildPlugin.scala
Due: none

spans created by TracedThriftServer should be Server spans by default
  finagle-natchez/src/main/scala/com/dwolla/util/async/finagle/TracedThriftServer.scala
  project/AsyncUtilsBuildPlugin.scala
Due: Label finagle-natchez PRs

remove warning suppression that no longer applies
  finagle-natchez/src/main/scala/com/dwolla/util/async/finagle/TracedThriftClient.scala
  twitter-finagle/src/main/scala/com/dwolla/util/async/finagle/ThriftClient.scala
Due: Label finagle-natchez PRs, Label twitter-finagle PRs

implement the Twitter Future cancellation protocol
  project/AsyncUtilsBuildPlugin.scala
  twitter-futures/src/main/scala/com/dwolla/util/async/twitter.scala
  twitter-futures/src/test/scala/com/dwolla/util/async/twitter/TwitterFutureAsyncMapKTests.scala
Due: Label twitter-futures PRs

update TwitterFutureAsyncMapKTests to also cover completing promise with failure
  project/AsyncUtilsBuildPlugin.scala
  twitter-futures/src/test/scala/com/dwolla/util/async/twitter/TwitterFutureAsyncMapKTests.scala
Due: Label twitter-futures PRs

wip add UnsafeFToFuture
  twitter-futures/src/main/scala/com/dwolla/util/async/twitter.scala
Due: Label twitter-futures PRs

wip: more steps
  finagle-natchez/src/main/scala/com/dwolla/util/async/finagle/TracedThriftServer.scala
Due: Label finagle-natchez PRs

wip: start removing need for ExecutionContext in TracedThriftServer
  finagle-natchez/src/main/scala/com/dwolla/util/async/finagle/TracedThriftServer.scala
Due: Label finagle-natchez PRs

fix: align finagle-http family deps with zipkin-finagle-http consumers
  project/AsyncUtilsBuildPlugin.scala
Due: none

fix: don't hang fibers when a lifted Twitter Future reports cancellation
  project/AsyncUtilsBuildPlugin.scala
  twitter-futures/src/main/scala/com/dwolla/util/async/twitter.scala
  twitter-futures/src/test/scala/com/dwolla/util/async/twitter/TwitterFutureAsyncMapKTests.scala
Due: Label twitter-futures PRs

feat: add async-utils-finagle-otel4s traced Thrift server
  finagle-otel4s/src/main/scala/com/dwolla/util/async/finagle/otel4s/TracedThriftServer.scala
  finagle-otel4s/src/test/scala/com/dwolla/util/async/finagle/otel4s/TracedThriftServerSpec.scala
  project/AsyncUtilsBuildPlugin.scala
  twitter-finagle/src/main/scala/com/dwolla/util/async/finagle/B3MultiHeaders.scala
Due: Label twitter-finagle PRs

refactor: render ZipkinKernel's B3 headers with the shared B3MultiHeaders
  finagle-natchez/src/main/scala/com/dwolla/util/async/finagle/ZipkinKernel.scala
  finagle-natchez/src/test/scala/com/dwolla/util/async/finagle/ZipkinKernelSpec.scala
  project/AsyncUtilsBuildPlugin.scala
Due: Label finagle-natchez PRs

build: bump tlBaseVersion to 1.4 for the new otel4s module
  project/AsyncUtilsBuildPlugin.scala
Due: none

docs: document async-utils-finagle-otel4s
  README.md
Due: none

ci: regenerate workflow and mergify config for finagle-otel4s
  .github/workflows/ci.yml
  .mergify.yml
Due: none

fix: compile checked-in Scrooge sources in scalafix input and output
  project/AsyncUtilsBuildPlugin.scala
Due: none

build: bump tlBaseVersion to 1.3 to match the v1.3.0 tag
  project/AsyncUtilsBuildPlugin.scala
Due: none
